{
  "presets": ["@babel/preset-env"],
  "plugins": [["@babel/plugin-proposal-class-properties", { "loose": true }], "syntax-dynamic-import", "@vue/babel-plugin-transform-vue-jsx", "@babel/transform-runtime",["transform-imports", {
  "vuetify": {
    "transform": "vuetify/es5/components/${member}",
    "preventFullImport": true
  }
}]]
}
